@{
    ViewData["Title"] = "Home Page";
}

<ul>    
    <li class=""><a class="" asp-area="" asp-controller="Home" asp-action="Task1">Hämta lärare som undervisar i “programmering 1”</a></li>
    <li><a class="" asp-area="" asp-controller="Home" asp-action="Task2">Hämta alla elever med deras lärare</a></li>
    <li><a class="" asp-area="" asp-controller="Home" asp-action="Task3">Hämta alla elever som läser “programmering 1</a></li>
    <li><a class="" asp-area="" asp-controller="Home" asp-action="Task4">Editera ett ämne från “programmering 2” till “OOP”</a></li>
    <li><a class="" asp-area="" asp-controller="Home" asp-action="Task5">Editera lärare i “programmering1”</a></li>
</ul>
