@model IEnumerable<ASPLabb2.Models.Teacher>

@{
    ViewData["Title"] = "Task1";
}

<h1>Hämta alla lärare som undervisar i “programmering 1”</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Förnamn
            </th>
            <th>
                Efternamn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>

        </tr>
}
    </tbody>
</table>
